@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
  background-color: #2B2B2B !important;
  color: #FFFF !important;
}

.contenedor-titulo{
  margin-top: 150px;
}

.titulo{
  font-family: "Silkscreen", sans-serif;
  font-size: 4rem;
}

.texto-secundario{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-resume{
  background-color: #04F104 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none !important;
}

.btn-resume:hover{
  background-color: #057105 !important;
}

.maquina-escribir{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ffff;
  width: 0;
  animation: escribir 4s steps(30) 1s forwards, cursor 0.75s step-end infinite;
}

@keyframes escribir{
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes cursor{
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #ffff;
  }
  100% {
    border-color: transparent;
  }
}

.logo-contacto{
  width: 40px;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.logo-contacto:hover{
  transform: scale(1.5) rotate(15deg);
}

/* SOBRE MI */

.sobre-mi{
  margin-top: 120px;
}

.linea{
  color: #04F104;
}

.texto-sobre-mi{
  font-size: 1.1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.img-prefil{
  width: 25%;
  border-radius: 50%;
  border: 3px solid #04F104;
}

.tecnologias{
  margin-top: 100px;
  margin-bottom: 150px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

section, img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.icono-tecnologia{
  width: 15%;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.icono-tecnologia:hover{
  transform: scale(1.2) rotate(15deg);
}

.subtitulo{
  font-family: "Silkscreen", sans-serif;
}